discord/
enchant/
eog/
evolution/
flameshot/
gnome-control-center/
gnome-initial-setup-done
gtk-3.0/
ibus/
menus/
mimeapps.list
monitors.xml
monitors.xml~
notion-app-enhanced/
pulse/
spicetify/
systemd/
user-dirs.dirs
zoom.conf
zoomus.conf
dconf/
BraveSoftware/
Mullvad VPN/
QtProject.conf
Signal/
VSCodium/
VisualParadigm/
cef_user_data/
dconf/
gedit/
htop/
libreoffice/
nautilus/
.gsd-keyboard.settings-ported
